       .cap_status_error{
				border: 1px solid red;
                background-color: red;  
				width: 350px;
                padding: 10px;
                font: 14px arial;
                color: #fff;	
            }
			.cap_status_sukses{
				border: 1px solid green;
                background-color: green;  
				width: 350px;
                padding: 10px;
                font: 14px arial;
                color: #fff;	
            }
			 .error{
                border: 1px solid red;
            }
			body{
			background : url(assets/images/gedungbisis.jpg)
			}